<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Bank Web Application</display-name>
  <welcome-file-list>
    <welcome-file>welcome</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>main.java.com.luxoft.bankapp.servlets.WelcomeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>main.java.com.luxoft.bankapp.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SessionAmountServlet</servlet-name>
    <servlet-class>main.java.com.luxoft.bankapp.servlets.SessionAmountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionAmountServlet</servlet-name>
    <url-pattern>/session</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BalanceServlet</servlet-name>
    <servlet-class>main.java.com.luxoft.bankapp.servlets.BalanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BalanceServlet</servlet-name>
    <url-pattern>/balance</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WithdrawServlet</servlet-name>
    <servlet-class>main.java.com.luxoft.bankapp.servlets.WithdrawServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawServlet</servlet-name>
    <url-pattern>/withdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>main.java.com.luxoft.bankapp.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindClientsServlet</servlet-name>
    <servlet-class>main.java.com.luxoft.bankapp.servlets.FindClientsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindClientsServlet</servlet-name>
    <url-pattern>/clients</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetClientServlet</servlet-name>
    <servlet-class>main.java.com.luxoft.bankapp.servlets.GetClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetClientServlet</servlet-name>
    <url-pattern>/client</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SaveClientServlet</servlet-name>
    <servlet-class>main.java.com.luxoft.bankapp.servlets.SaveClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveClientServlet</servlet-name>
    <url-pattern>/saveClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DepositServlet</servlet-name>
    <servlet-class>main.java.com.luxoft.bankapp.servlets.DepositServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositServlet</servlet-name>
    <url-pattern>/deposit</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CheckLogged</filter-name>
    <filter-class>main.java.com.luxoft.bankapp.servlets.CheckLoggedFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CheckLogged</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <listener>
    <listener-class>main.java.com.luxoft.bankapp.servlets.SessionListener</listener-class>
  </listener>
  <listener>
        <listener-class>main.java.com.luxoft.bankapp.servlets.Listener</listener-class>
    </listener>
    <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/servlets-application-context.xml</param-value>
</context-param>
</web-app>